<ngx-slick-carousel class="main-slider slider"   [config]="slideConfig" >
    <div ngxSlickItem class="slider-item " style="background-image:url('assets/images/slideshow1-2.png')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <span class="lead">Casual Collection Sale </span>
              <h1 class="mt-2 mb-5"><span class="text-color">Cuts off </span>to everything</h1>
              <a href="/shop" class="btn btn-main">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div ngxSlickItem  class="slider-item" style="background-image:url('assets/images/slideshow1-3.png')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <span class="lead"></span>
              <h1 class="mt-2 mb-5"><span class="text-color">Discover</span> our offers</h1>
              <a href="/shop" class="btn btn-main">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div ngxSlickItem  class="slider-item" style="background-image:url('assets/images/slideshow1-1.png'); background-position:50%;background-repeat:no-repeat;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
            <div class="slider-caption">
              <span class="lead">Trendy Tracksuit</span>
              <h1 class="mt-2 mb-5"><span class="text-color">Tracksuit </span>Collection</h1>
              <a href="/shop" class="btn btn-main">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
  
  
  
  <section class="section products-main">
    <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="title text-center">
                      <h2>New arrivals</h2>
                      <p>The best Online sales to shop these weekend</p>
                  </div>
              </div>
          </div>
  
  
      <div class="row">
        
        <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" *ngFor="let product of products">
            <div class="product">
              <div class="product-wrap" >
                  <a routerLink="/product-single/{{product.id}}"><img class="img-fluid w-100 mb-3 img-first" src="{{product.images && product.images[0]?.imageName}}" alt="{{product.name}}" /></a>
                  <a routerLink="/product-single/{{product.id}}"><img class="img-fluid w-100 mb-3 img-second" src="{{product.images && product.images[1]?.imageName}}" alt="{{product.name}}" /></a>
              </div>
  
              <span class="onsale">Sale</span>
              <div class="product-hover-overlay">
                  <a href=""><i class="tf-ion-android-cart"></i></a>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </div>
  
              <div class="product-info">
                  <h2 class="product-title h5 mb-0"><a routerLink="/product-single/{{product.id}}">{{product.name}}</a></h2>
                  <span class="price">
                      {{product.salesPrice|currency:'USD'}}
                  </span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- /portfolio -->
  
    <section class="ads section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 offset-lg-6">
          <div class="ads-content">
            <span class="h5 deal">Special offer for you</span>
            <h2 class="mt-3 text-white">Trendy tracksuit Men</h2>
            <p class="text-md mt-3 text-white">Hurry up! Limited time offer.Grab it now!</p>
            <!-- syo-timer -->
                <div id="simple-timer" class="syotimer mb-5"></div>
            <a href="/shop" class="btn btn-main"><i class="ti-bag mr-2"></i>Shop Now </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section products-list">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-12 col-md-12">
            <img src="assets/images/adsv.png" alt="Product big thumb"  class="img-fluid w-100">
        </div>
  
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="widget-featured-entries mt-5 mt-lg-0">
            <h4 class="mb-4 pb-3">Best sellers</h4>
  
                  <div class="media mb-3" *ngFor="let product of productPopular">
                      <a class="featured-entry-thumb" routerLink="/product-single/{{product.id}}">
                        <img src="{{product.images && product.images[0]?.imageName}}" alt="{{product.name}}" width="64" class="img-fluid mr-3">
                    </a>
                    <div class="media-body">
                      <h6 class="featured-entry-title mb-0"><a href="/product-single/{{product.id}}">{{product.name}}</a></h6>
                      <p class="featured-entry-meta">{{product.salesPrice|currency:'USD'}}</p>
                    </div>
                  </div>
          </div>
        </div>
  
  
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="widget-featured-entries mt-5 mt-lg-0">
            <h4 class="mb-4 pb-3">New Arrivals</h4>
  
                  <div class="media mb-3" *ngFor="let product of productNewest">
                      <a class="featured-entry-thumb" routerLink="/product-single/{{product.id}}">
                        <img src="{{product.images && product.images[0]?.imageName}}" alt="{{product.name}}" width="64" class="img-fluid mr-3">
                    </a>
                    <div class="media-body">
                      <h6 class="featured-entry-title mb-0"><a href="/product-single/{{product.id}}">{{product.name}}</a></h6>
                      <p class="featured-entry-meta">{{product.salesPrice|currency:'USD'}}</p>
                    </div>
                  </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="features border-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6">
          <div class="feature-block">
            <i class="tf-ion-android-bicycle"></i>
            <div class="content">
              <h5>Free Shipping</h5>
              <p>On all order over $39.00</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
          <div class="feature-block">
            <i class="tf-wallet"></i>
            <div class="content">
              <h5>30 Days Return</h5>
              <p>Money back Guarantee</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
          <div class="feature-block">
            <i class="tf-key"></i>
            <div class="content">
              <h5>Secure Checkout</h5>
              <p>100% Protected by paypal</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
          <div class="feature-block">
            <i class="tf-clock"></i>
            <div class="content">
              <h5>24/7 Support</h5>
              <p>All time customer support </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>