<section class="page-header">
    <div class="overly"></div> 	
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Profile</h1>
            <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which</p>
  
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="user-dashboard page-wrapper">
    <div class="container">
      <div class="row">
          <div class="col-12 col-md-5 col-sm-12 col-lg-3">
              <div class="nav flex-column nav-pills">
                  <a class="nav-link" routerLink="/dashboard" >Dashboard</a>
              </div>
              <div class="nav flex-column nav-pills">
                  <a class="nav-link" routerLink="/profile-details" >Orders</a>
              </div>
              <div class="nav flex-column nav-pills">
                  <a class="nav-link" routerLink="/profile-details" >Downloads</a>
              </div>
              <div class="nav flex-column nav-pills">
                  <a class="nav-link" routerLink="/profile-details" >Address</a>
              </div>
              <div class="nav flex-column nav-pills">
                  <a class="nav-link active" routerLink="/profile-details" >Account</a>
              </div>
              <div class="nav flex-column nav-pills">
                  <a class="nav-link"routerLink="/profile-details" >Log Out</a>
              </div>
          </div>
  
        <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        
            
  
  
  
            <div class="tab-pane fade show active" id="settings" role="tabpanel" >
              <div class="acccount-settings">
                <h4 class="mb-4">Account information</h4>
                <form action="#">
                  <div class="form-row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label >First Name</label>
                        <input type="text" class="form-control" placeholder="John">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label >Last Name</label>
                        <input type="text" class="form-control" placeholder="Jas">
                      </div>
                    </div>
                  </div>
  
                  <div class="form-group mb-4">
                    <label >Display name </label>
                    <input type="text" class="form-control" placeholder="Jassa">
                    <p class="mt-2"> This will be how your name will be displayed in the account section and in reviews</p>
                  </div>
                  <div class="form-group mb-4">
                    <label >Email address </label>
                    <input type="text" class="form-control" placeholder="therichposts@gmail.com">
                  </div>
                </form>
  
                <form action="#" class="mt-5">
                  <h4>Password change</h4>
  
                  <div class="form-group">
                    <label >Current password </label>
                    <input type="text" class="form-control" placeholder="">
                    
                  </div>
                  <div class="form-group">
                    <label >New password</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                  <div class="form-group">
                    <label >Confirm password</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
  
                  <a href="#" class="btn btn-dark">Save Changes</a>
                </form>
              </div>
            </div>
  
         
        </div>
      </div>
    </div>
  </section>