<footer class="footer">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto"
      >
        <div class="footer-widget">
          <h4 class="mb-4">ABIDI-Shop</h4>
          <p class="lead">Shop now and experience ultimate convenience.</p>

          <div class="">
            <p class="mb-0"><strong>Location : </strong>Tetouan , Morocco</p>
            <p><strong>Support Email : </strong> youssef.abidi@etu.ua.ac.ma</p>
          </div>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left"
      >
        <div class="footer-widget">
          <h4 class="mb-4">Category</h4>
          <ul class="pl-0 list-unstyled mb-0">
            <li *ngFor="let category of categories">
              <a>{{ category }}</a>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left"
      >
        <div class="footer-widget">
          <h4 class="mb-4">Useful Link</h4>
          <ul class="pl-0 list-unstyled mb-0">
            <li><a href="/shop">News &amp; Tips</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="/shop">Our Shop</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
