<section class="page-header">
    <div class="overly"></div> 	
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Address</h1>
            <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which</p>
  
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Address</li>
            </ol>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="user-dashboard page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 col-sm-12 col-lg-3">
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/edit-address" >Dashboard</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/edit-address" >Orders</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/edit-address" >Downloads</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link active" routerLink="/edit-address" >Address</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/edit-address" >Account</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/edit-address" >Log Out</a>
          </div>
        </div>
  
        <div class="col-12 col-md-7 col-sm-12 col-lg-9">
          <div class="acccount-settings">
            <h4 class="mb-4">Edit Address</h4>
            <form action="#">
              <div class="form-row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Region</label>
                    <input type="text" class="form-control" placeholder="Ludhiana">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" placeholder="Ludhiana - north">
                  </div>
                </div>
              </div>
              <div class="form-group mb-4">
                <label>Address</label>
                <textarea class="form-control" name="address" id="address"></textarea>
              </div>
              <button class="btn btn-dark">Save Changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>